<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Basic things about Angular</h2>
<ul>
  <li>
    <h2>This file is found under app and is the html template of app.component</h2>
  </li>
  <li>
    <h2>Components are like objects, but we can have separate object types too that aren't components</h2>
  </li>
  <li>
    <h2>This app is currently set up to be run with node.js and express as the server, but can be switched</h2>
  </li>
  <li>
    <h2>Run the app on localhost:4200 with 'ng serve' or build the app with 'ng build', then run the app through the Express
    server on localhost:1337 with 'nodemon server.js'</h2>
  </li>
  <li>
    <h2>'ng serve' is better for testing, but in actual hosting it will be run off of the express server, or whatever we use</h2>
  </li>
</ul>
